SERVICE_DEMO_PORT="11002"
AI_SERVER_BASE_URL="http://127.0.0.1:11000"
AI_SERVER_API_PREFIX=""
AI_SERVER_APPKEY_STORE_A=""
AI_SERVER_APPKEY_STORE_B=""
AI_SERVER_APP_ID_STORE_A=""
AI_SERVER_APP_ID_STORE_B=""
AI_SERVER_KNOWLEDGE_OPERATOR_KEY=""
SERVICE_DEMO_MANAGER_EMAILS=""
SERVICE_DEMO_LOCAL_MANAGER_TOKEN=""
SERVICE_DEMO_AGENT_EMAILS=""
SERVICE_DEMO_LOCAL_AGENT_TOKEN=""
